/* Coolors Exported Palette - https://coolors.co/0a1a1f-450c0f-eaf0ce-6c91c2-749faa */

/* CSS HEX */
--rich-black-fogra-29: #0a1a1fff;
--black-bean: #450c0fff;
--light-goldenrod-yellow: #eaf0ceff;
--blue-gray: #6c91c2ff;
--pewter-blue: #749faaff;

/* CSS HSL */
--rich-black-fogra-29: hsla(194, 51%, 8%, 1);
--black-bean: hsla(357, 70%, 16%, 1);
--light-goldenrod-yellow: hsla(71, 53%, 87%, 1);
--blue-gray: hsla(214, 41%, 59%, 1);
--pewter-blue: hsla(192, 24%, 56%, 1);

/* SCSS HEX */
$rich-black-fogra-29: #0a1a1fff;
$black-bean: #450c0fff;
$light-goldenrod-yellow: #eaf0ceff;
$blue-gray: #6c91c2ff;
$pewter-blue: #749faaff;

/* SCSS HSL */
$rich-black-fogra-29: hsla(194, 51%, 8%, 1);
$black-bean: hsla(357, 70%, 16%, 1);
$light-goldenrod-yellow: hsla(71, 53%, 87%, 1);
$blue-gray: hsla(214, 41%, 59%, 1);
$pewter-blue: hsla(192, 24%, 56%, 1);

/* SCSS RGB */
$rich-black-fogra-29: rgba(10, 26, 31, 1);
$black-bean: rgba(69, 12, 15, 1);
$light-goldenrod-yellow: rgba(234, 240, 206, 1);
$blue-gray: rgba(108, 145, 194, 1);
$pewter-blue: rgba(116, 159, 170, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0a1a1fff, #450c0fff, #eaf0ceff, #6c91c2ff, #749faaff);
$gradient-right: linear-gradient(90deg, #0a1a1fff, #450c0fff, #eaf0ceff, #6c91c2ff, #749faaff);
$gradient-bottom: linear-gradient(180deg, #0a1a1fff, #450c0fff, #eaf0ceff, #6c91c2ff, #749faaff);
$gradient-left: linear-gradient(270deg, #0a1a1fff, #450c0fff, #eaf0ceff, #6c91c2ff, #749faaff);
$gradient-top-right: linear-gradient(45deg, #0a1a1fff, #450c0fff, #eaf0ceff, #6c91c2ff, #749faaff);
$gradient-bottom-right: linear-gradient(135deg, #0a1a1fff, #450c0fff, #eaf0ceff, #6c91c2ff, #749faaff);
$gradient-top-left: linear-gradient(225deg, #0a1a1fff, #450c0fff, #eaf0ceff, #6c91c2ff, #749faaff);
$gradient-bottom-left: linear-gradient(315deg, #0a1a1fff, #450c0fff, #eaf0ceff, #6c91c2ff, #749faaff);
$gradient-radial: radial-gradient(#0a1a1fff, #450c0fff, #eaf0ceff, #6c91c2ff, #749faaff);